.recipe {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin: 1rem;
  color: aliceblue;
  height: 100vh;
}

.recipe__heading {
  text-align: center;
}

/* LEFT
*******/
.recipe__left,
.recipe__right {
  margin: 0.2rem;
}
.recipe__left {
  max-width: 50%;
}

.ingredients__heading {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem;
}
.recipe__img {
  max-width: 50vw;
  object-fit: cover;
  border-radius: 4px;
  border: #4a2471 solid 1px;
}
.recipe__ingredients {
  border: #4a2471 solid 1px;
  list-style: none;
}
.recipe__ingredients li {
  border-bottom: #4a2471 solid 1px;
  padding: 0.4rem;
}

.recipe__ingredients li:last-child {
  border-bottom: none;
}

/* RIGHT
********/
.recipe__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 50%;
  line-height: 1.5;
}

.recipe__desc {
  font-weight: 300;
}

.recipe__preparation {
  font-weight: 300;
}
