header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 4rem;
  background-color: rgb(150, 150, 150);
  border-bottom: 2px solid black;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.links {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
}

.link {
  color: white;
}
.linkActive {
  color: red;
}

.links li {
  margin: 1rem;
}
