header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 4rem;
  background-image: linear-gradient(
    180deg,
    rgb(86, 86, 86),
    rgb(98, 98, 98),
    rgb(100, 100, 100),
    rgb(98, 98, 98),
    rgb(86, 86, 86)
  );
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
}

.link {
  color: white;
}
.linkActive {
  color: red;
}

.links li {
  margin: 1rem;
}
